<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ns2:beans xmlns="urn:oasis:names:tc:xacml:3.0:core:schema:wd-17" xmlns:ns2="http://www.springframework.org/schema/beans" xmlns:ns3="http://www.springframework.org/schema/util" xmlns:ns4="http://camel.apache.org/schema/spring">
  <ns2:description>beans::foo n0</ns2:description>
  <ns3:map id="EnvData" scope="singleton" key-type="java.lang.String">
    <ns2:description>Env data</ns2:description>
  </ns3:map>
  <ns3:map id="PIPdata" scope="prototype" key-type="java.lang.String">
    <ns2:description>PIP data</ns2:description>
  </ns3:map>
  <ns4:camelContext id="n1-SimplePolicy1">
    <ns4:dataFormats>
      <ns4:jaxb contextPath="oasis.names.tc.xacml._3_0.core.schema.wd_17" prettyPrint="true" mustBeJAXBElement="true" encoding="UTF-8" id="xacml_3_parser"/>
    </ns4:dataFormats>
    <ns4:route>
      <ns4:from uri="direct:start"/>
      <ns4:marshal ref="xacml_3_parser"/>
      <ns4:to uri="direct:request"/>
    </ns4:route>
    <ns4:route>
      <ns4:from uri="direct:request"/>
      <ns4:filter>
        <ns4:groovy>specified.XacmlFunctionProto.from("urn:oasis:names:tc:xacml:1.0:function:rfc822Name-match").apply('med.example.com', policyxform.PolicyVisitor.RequestTupleUtil.lookup( ${body},"urn:oasis:names:tc:xacml:1.0:subject-category:access-subject","urn:oasis:names:tc:xacml:1.0:subject:subject-id" ) );</ns4:groovy>
        <ns4:to uri="direct:permit"/>
        <ns4:otherwise>
          <ns4:to uri="direct:deny"/>
        </ns4:otherwise>
      </ns4:filter>
    </ns4:route>
  </ns4:camelContext>
</ns2:beans>
